.page-header
{
	background-color: #05668d;;
}
.page-header>h1,.page-header>h4,p
{
	color: white;
}
.page-header>img
{
	float: right;
}
section
{
	background-color: #EBF2FA;
}
section img
{
	border-radius: 150px;
}
.btn-success
{
	width: 250px;
	height: 50px;
	margin-top: 25%;
	font-size: 20px;
	border: none;
}